body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}


/* ---------- CABECALHO ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}


/* ---------- BARRA-LATERAL ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #A332B3;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #ffffff;

}

.sidebar-responsive {
  display: inline !important;
  position: absolute;

  z-index: 12 !important;
}


/* ---------- PRINCIPAL ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
}

.charts-card {
  background-color: #263043;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ---------- Proporções de Tela ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}


/* pequeno <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}


/* Muito pequeno <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

.block {

  margin-bottom: 1000px;

}

.botao{
  position: absolute;
  top: 0;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #8A05BE;
}
.listaProdutos{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  background-color: aqua;    
}

input[type=text], input[type=date], input[type=number]{
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus{
background-color: #ddd;
outline: none;
}

select{
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

select:focus{
background-color: #ddd;
outline: none;
}


button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

.cancelar {
padding: 14px 20px;
background-color: #f44336;
}

.cancelar, .addProduto {
float: left;
width: 50%;
}

.caixa {
padding: 16px;
}

.titulo{
  text-align: center;
}

.caixaTudo {
display: none; 
position: fixed; 
z-index: 1;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: #474e5d;
padding-top: 50px;
}


.formulario {
background-color: #fefefe;
margin: 5% auto 15% auto; 
border: 1px solid #888;
width: 80%; 
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.fechar {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.fechar:hover,
.fechar:focus {
color: #f44336;
cursor: pointer;
}

.botaoEmBaixo::after {
content: "";
clear: both;
display: table;
}

@media screen and (max-width: 300px) {
.cancelar, .addProduto {
   width: 100%;
}
}

.S{
  color: #FDB927;
  font-size: 22px;
  font: normal;
  margin-right: 1px;
}
.L{
  color: #FDB927;
  font-size: 22px;
  font: normal;
}