* {

    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  
    font-family: Arial, sans-serif, Helvetica;
  
    font-size: 16px;
  
  }

  :root/* dicionario de transições e cores*/
  {
    --corpo-cor: #e4e9f7;
    --barralateral-cor: #FFF;
    --cor-principal: #A332B3;
    --cor-letra: rgb(77, 77, 77);
    --cor-borda: rgba(122, 122, 122, 0.562);
    --cor-letra-hover:  white;
  
    --transicao1: all 0.2s ease;
    --transicao2: all 0.3s ease;
    --transicao3: all 0.4s ease;
    --transicao4: all 0.5s ease;
  }

  .html .dark{
    --corpo-cor: #242424;
    --barralateral-cor: #303030;
    --cor-principal: #A332B3;
    --cor-letra: rgb(252, 252, 252);
    --cor-borda: rgba(122, 122, 122, 0.562);
    --cor-letra:  white;
  }
  
  body{

    background-color: var(--corpo-cor);
  }
  
  .barralateral {
  
    position: fixed;
  
    top: 0;
  
    left: -25%;
  
    width: 19%;
  
    height: 100%;
  
    transition: left 0.3s ease-in-out;
  
    color: var(--cor-letra);
  
    background-color: var(--barralateral-cor);
  
    overflow-y: auto;
  
    z-index: 1;
  
  }
  
  
  .barralateral.show {
  
    left: 0;
  
  }
  
  
  .logo {
  
    text-align: center;
  
    padding: 15px;
  
  }
  
  
  .logo h1 {

    color: var(--cor-letra);
  
    font-size: 24px;
  
    font-weight: bold;
  
  }
  
  
  .menu {
  
    list-style: none;
  
    margin: 0;
  
    padding: 0;
  
  }
  
  
  .menu li a {
  
    display: block;
  
    padding: 15px 15px;
  
    color: var(--cor-letra);
  
    text-decoration: none;
  
    transition: background-color 0.2s ease-in-out;

    margin-top: 8px;

    border: solid var(--cor-borda) 2px;

    height: 100px;

    width: 180px;
    
    border-radius: 5px;

    margin-left: 25px;
  }
  
  
  .menu li a:hover {
  
    background: var(--cor-principal);
    color:#FFF;
    border: none;
  }
  
  
  .modo-escuro {
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: auto;
  
    padding: 10px;
  
    border-top: 1px solid rgba(255,255,255,0.1);
  
  }
  
  
  .trocar {
  
    position: relative;
  
    display: inline-block;
  
    width: 60px;
  
    height: 34px;
  
  }
  
  
  .trocar input {
  
    opacity: 0;
  
    width: 0;
  
    height: 0;
  
  }
  
  
  .mudar {
  
    position: absolute;
  
    cursor: pointer;
  
    top: 0;
  
    left: 0;
  
    right: 0;
  
    bottom: 0;
  
    background-color: #ccc;
  
    transition: 0.2s ease-in-out;
  
  }
  
  
  .mudar:before {
  
    position: absolute;
  
    content: "";
  
    height: 26px;
  
    width: 26px;
  
    left: 4px;
  
    bottom: 4px;
  
    background-color: #fff;
  
    transition: 0.2s ease-in-out;
  
    border-radius: 50%;
  
  }
  
  
  input:checked + .mudar {
  
    background-color: #3f51b5;
  
  }
  
  
  input:checked + .mudar:before {
  
    transform: translateX(26px);
  
  }
  
  
  .mudar.lado {
  
    border-radius: 34px;
  
  }
  
  
  .mudar.lado:before {
  
    border-radius: 50%;
  
  }
  
  
  .conteudo {
  
    margin-left: 200px;
  
    padding: 15px;
  
  }

  #barralateral-toggle {

    position: fixed;
  
    top: 10px;
  
    left: 10px;
  
    font-size: 24px;
  
    background: none;
  
    border: none;
  
    cursor: pointer;
  
    z-index: 2;
  
    color: #6f42c1;
  
  }
  
  
  #barralateral-toggle:hover {
  
    color: #fff;
  
  }

  .modo-escuro {

    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: auto;
  
    padding: 10px;

    margin-right: 30px;
  
    border-top: 1px solid rgba(255,255,255,0.1);
  
  }
  
  
  .trocar {
  
    position: relative;
  
    display: inline-block;
  
    width: 60px;
  
    height: 34px;
  
  }
  
  
  .trocar input {
  
    opacity: 0;
  
    width: 0;
  
    height: 0;
  
  }
  
  
  .mudar {
  
    position: absolute;
  
    cursor: pointer;
  
    top: 0;
  
    left: 0;
  
    right: 0;
  
    bottom: 0;
  
    background-color: #ccc;
  
    transition: 0.2s ease-in-out;
  
  }
  
  
  .mudar:before {
  
    position: absolute;
  
    content: "";
  
    height: 26px;
  
    width: 26px;
  
    left: 4px;
  
    bottom: 4px;
  
    background-color: #fff;
  
    transition: 0.2s ease-in-out;
  
    border-radius: 50%;
  
  }
  
  
  input:checked + .mudar {
  
    background-color: #3f51b5;
  
  }
  
  
  input:checked + .mudar:before {
  
    transform: translateX(26px);
  
  }
  
  
  .mudar.lado {
  
    border-radius: 34px;
  
  }
  
  
  .mudar.lado:before {
  
    border-radius: 50%;
  
  }
  
  
  .modo-escuro span {
  
    margin-left: 10px;
  
    font-size: 14px;
  
  }
  
  
  .dark #barralateral-toggle {
  
    color: #fff;
  
  }
  
  
  .dark .barralateral {
  
    background-color: #333;
  
  }
  
  
  .dark .menu li a {
  
    color: #fff;
  
  }
  
  
  .dark .modo-escuro span {
  
    color: #fff;
  
  }

  .S{
    color: #ffb319;
    font-size: 24px;
  }

  .L{
    color: #A332B3;
    font-weight: bold;
    font-size: 24px;
  }

  .icone{
    font-size: 25px;
  }

  .icone .texto{
    padding-top: 50px;
    font-size: 20px;
    align-items: center;
    font-weight: 200;
    letter-spacing: 2px;
  }

  html.dark{
    --corpo-cor: #242424;
    --barralateral-cor: #303030;
    --cor-principal: #A332B3;
    --cor-letra: rgb(252, 252, 252);
    --cor-borda: rgba(122, 122, 122, 0.562);
    --cor-letra:  white;
  }

  html.dark  .mudar:before {
  
    position: absolute;
  
    content: "";
  
    height: 26px;
  
    width: 26px;
  
    left: 4px;
  
    bottom: 4px;
  
    background-color: #fff;
  
    transition: 0.2s ease-in-out;
  
    border-radius: 50%;
  
  }

  @media (max-width) {
    
  }

